OPENOBD_CLUSTER_ID=001

OPENOBD_GRPC_HOST=grpc.openobd.com
OPENOBD_PARTNER_API_KEY=<change_me>
OPENOBD_PARTNER_CLIENT_ID=<change_me>
OPENOBD_PARTNER_CLIENT_SECRET=<change_me>

OPENOBD_LAUNCHER_LOCATION=./launcher
OPENOBD_LAUNCHER_FUNCTIONS_INDEX=./launcher/resources/functions.json

OPENOBD_EXECUTOR_LOCATION=./executor
OPENOBD_EXECUTOR_RUNTIME_LOCATION=./executor/runtime
OPENOBD_EXECUTOR_FUNCTIONS_LOCATION=./executor/functions
OPENOBD_EXECUTOR_LOGS_LOCATION=./executor_logs
